{% extends "base.html" %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Logged out!</h3>
            <p class="card-text text-center">You have been successfully logged out of your account.</p>
            <div class="d-grid gap-2">
              <a href="{% url 'login' %}" class="btn btn-primary">Click here to login again.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
