{% extends "base.html" %}
{% load static %}

{% block title %}
  Task Type List
{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-12 col-lg-6">
                <h3 class="mb-2">Task Type List</h3>
              </div>
              <div class="col-12 col-lg-6 my-auto">
                <div class="float-lg-end pe-4">
                  <a href="{% url 'manager:task-type-create' %}" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg"
                         viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    New Task Type
                  </a>
                </div>
              </div>
            </div>
            {% include "includes/search_form.html" %}
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-3 py-1">Task Type
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tasks with this
                    type
                  </th>
                </tr>
                </thead>
                <tbody>
                {% if task_type_list %}
                  {% for type in task_type_list %}
                    <tr>
                      <td>
                        <a href="{% url "manager:task-type-detail" pk=type.id %}" class="px-2 py-1">{{ type.name }}</a>
                      </td>
                      <td>
                        {{ type.tasks.count }}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="2" class="text-center">
                      There are no task types!
                    </td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
