{% extends "base.html" %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h4 class="mb-0 text-white">Delete Confirmation</h4>
          </div>
          <div class="card-body">
            <h6>Are you sure you want to delete task type "{{ task_type.name }}"?</h6>
            <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Yes, Delete" class="btn btn-danger">
              <a href="{% url "manager:task-type-detail" pk=task_type.id %}" class="btn btn-primary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
