{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  Task "{{ task.name }}"
{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center border-bottom">
          <h3 class="mb-0">{{ task.name }}</h3>
          <div class="btn-group">
            <a href="{% url 'manager:task-update' pk=task.id %}" class="btn btn-secondary">
              <i class="fas fa-edit"></i> Update
            </a>
            <a href="{% url 'manager:task-delete' pk=task.id %}" class="btn btn-danger">
              <i class="fas fa-trash"></i> Delete
            </a>
          </div>
        </div>


        <div class="card-body">
          <p class="text-muted mb-2"><strong>Priority:</strong> {{ task.get_priority_display }}</p>
          <p class="text-muted mb-2"><strong>Status:</strong> {{ task.get_status_display }}</p>
          <p class="text-muted mb-2"><strong>Task type:</strong> {{ task.task_type }}</p>
          <p class="text-muted mb-2"><strong>Task tags:</strong> {{ task.task_tag.all|join:", " }}</p>
          <p class="text-muted mb-2"><strong>Due date:</strong> {{ task.deadline|date:"F j, Y, P" }}</p>

          <p class="text-muted mb-2 d-inline"><strong>Assignees:</strong></p>

          {% if task.assignees %}
            <div class="d-inline">
              {% for assignee in task.assignees.all %}
                <a href="{% url "manager:worker-detail" pk=assignee.id %} "
                   class="btn btn-sm btn-outline-secondary m-1 p-1 text-capitalize">
                  {{ assignee.first_name }}
                  {{ assignee.last_name }}{% if request.user == assignee %} (Me){% endif %}
                </a>
              {% endfor %}
            </div>
          {% else %}
            There are no assignees!
          {% endif %}
          {% if task in user.assigned_tasks.all %}
            <form method="post" action="{% url 'manager:toggle-task-assign' pk=task.id %}" class="d-inline">
              {% csrf_token %}
              <input class="btn btn-link btn-sm text-sm text-secondary link-to-page p-0 mb-0" type="submit" value="- Delete me from this task">
            </form>
          {% else %}
            <form method="post" action="{% url 'manager:toggle-task-assign' pk=task.id %}" class="d-inline">
              {% csrf_token %}
              <input class="btn btn-link btn-sm text-sm link-to-page p-0 mb-0" type="submit" value="+ Assign me to this task">
            </form>
          {% endif %}
          <p class="text-muted"><strong>Description:</strong></p>
          <div class="p-2 bg-light border rounded">
            {% if task.description %}
              <p>{{ task.description }}</p>
            {% else %}
              <p>No description yet</p>
            {% endif %}
          </div>

        </div>
      </div>
      {% for comment in comments %}
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">{{ comment.user }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ comment.created_time|date:"F j, Y, P" }}</h6>
            <p class="card-text p-2 border rounded">{{ comment.content }}</p>

            {% if comment.user == request.user %}
              <div class="btn-group" role="group" aria-label="Comment actions">
                <a href="{% url 'manager:commentary-update' pk=comment.id %}" class="btn btn-light">
                  <i class="fas fa-edit"></i> Update
                </a>
                <a href="{% url 'manager:commentary-delete' pk=comment.id %}" class="btn btn-light">
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}


      <h6 class="mt-4">Comment on this task</h6>

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
