{% extends "base.html" %}
{% load static %}

{% block title %}
  Worker List
{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-12 col-lg-6">
                <h3 class="mb-2">Teammates</h3>
              </div>
              <div class="col-12 col-lg-6 my-auto">
                <div class="float-lg-end pe-4">
                  <a href="{% url 'manager:worker-create' %}" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg"
                         viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    New Worker
                  </a>
                </div>
              </div>
            </div>
            {% include "includes/search_form.html" %}
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-3 py-1">ID</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-3 py-1">
                    Username
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2 py-1">
                    Position
                  </th>
                </tr>
                </thead>
                <tbody>
                {% if worker_list %}
                  {% for worker in worker_list %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <h6 class="mb-0 text-xs text-secondary">{{ worker.id }}</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0">
                              <a href="{% url "manager:worker-detail" pk=worker.id %}">{{ worker.first_name }} {{ worker.last_name }}</a>
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div>
                          <h6 class="mb-0 text-xs text-secondary">{{ worker.username }}</h6>
                        </div>
                      </td>
                      <td class="text-sm">
                        <div class="d-flex">
                          <div class="d-flex flex-column justify-content-center">
                            <span class="badge bg-light text-black-50 text-xs opacity-7">
                              {{ worker.position }}
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4" class="text-center">There are no teammates!</td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
